name: CI

on:
  push:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -v -cover -coverprofile=coverage.out ./...

      - name: Run lint
        uses: golangci/golangci-lint-action@v4
        with:
          working-directory: ./backend

      # - name: Build
      #   run: go build -v ./cmd/server/...
